i, cite, em, var, address, dfn {
    font-style: italic;
}
h1 {
	letter-spacing:0;
}
h1.documentFirstHeading {
    background-color: #002855;
    color: #fff;
	margin-top: -13px !important;
    margin-right: -13px;
    margin-left: -13px; 
    padding: 10px;
	/* box-shadow: 5px 7px 2px 0px #999999;*/
}
#content {
	font-size: 100%;
	margin: 0;
}
#content .documentDescription, #content #description {
	    font-style: normal;
	    font-variant-ligatures: normal;
	    font-variant-caps: normal;
	    font-variant-numeric: normal;
	    font-variant-east-asian: normal;
	    font-weight: bold;
	    font-stretch: normal;
	    font-size: 100%;
	    line-height: normal;
		color:#000;
	    font-family: Tahoma, Geneva, sans-serif;
	}
#content a:hover, dl.portlet a:hover {
	color: #335379 !important;
}
/* working out bulleted list with left floated image */
#parent-fieldname-text ul li {
    list-style-type: disc;
    margin-left: 2em;
	background-image:none;
	padding-left:5px;
	list-style-position: inside;
	padding-top:0;
}

#portal-header {
    background-color: white;
	height: 182px;
	border-bottom: 5px solid #002855;
}
#content a:visited, dl.portlet a:visited {
    color: #002855;
    border-bottom: none;
}
#content a:link, dl.portlet a:link {
    color: #002855;
    border-bottom: none;
}

#portal-globalnav {
     background-color: #002855;
	 
}
#portal-globalnav li a {
	z-index: 100;
	font-size:1.2em;
	padding: 16px 16px 8px 16px;
	color:#fff;
	background-color:#002855;
	border:none;
	text-decoration:none;
	-moz-border-radius:0 0 6px 6px;
	  -webkit-border-radius:0 0 6px 6px;
	  border-radius:0 0 6px 6px; 
}
#portal-globalnav ul li a {
	background-color:#dea427;
	border:none;
	/* color:#002855; */ 
}
#portal-globalnav ul li a.hasChildrens {
	background-color:#dea427;
	/* color:#002855; */
}
#portal-globalnav li.selected a{
	background-color: #dea427;
}
#portal-globalnav li.selected ul li a {
	background-color: #dea427;
	color:#002855;
} 
#portal-globalnav:hover ul li:hover > a {
  background-color:#F4E5B2;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0;
  }

#portal-globalnav li ul li a:hover {
    background-color: #F0DD99 !important;
	color: #002855;
	-moz-border-radius:0;
	  -webkit-border-radius:0;
	  border-radius:0;
}
#portal-globalnav li:hover > a.hasChildrens {
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0;
  }
#portal-globalnav ul li a.hasChildrens:hover {
  background-color:#dea427;
  }
#portal-globalnav:hover li:hover > a {
  background-color:#dea427;
  color:#002855;
  }
 
#portal-globalnav:hover li:hover ul > a {
  background-color:#F0DD99;
  color:#002855;
  }
  #portal-globalnav li > ul {
      -moz-border-radius: 0 6px 6px 6px;
      -webkit-border-radius: 0 6px 6px 6px; 
      border-radius: 0 6px 6px 6px; 
      background-color: #dfa003;
      display: none;
	  left: 0;
	      padding: 5px 0 8px;
	      position: absolute;
	      top: 100%;
		/*  width: 185px; */
      z-index: 100;
  }
 
#portal-personaltools {
	z-index:100;
}
.icon-pad img {
    padding-right: 10px;
}

.borderless.gray dl.portlet dt.portletHeader{
	background-color: #E5E9EF;
	font-weight: bold;
}
.borderless.gray dl.portlet {
	background-color: #E5E9EF;
}
.connect {
    background-color: white;
}

.connect dl.portlet dt.portletHeader {
    background-color: white;
	
}

.events_events {
   background-color: #e9e9e9;
}

.events_events dl.portlet dt.portletHeader {
    background-color: #e9e9e9;
}

.marchandarchive {
    background-color: white;
}

.marchandarchive dl.portlet dt.portletHeader {
    background-color: #5a7134;
}

.news_news {
   background-color: #d9d9d9;
}

.news_news dl.portlet dt.portletHeader {
    background-color: #679324;
}

.onlineRS dl.portlet dt.portletHeader {
    background-color: #794009;
}

.pastevents {
   background-color: #d9d9d9;
}

.pastevents dl.portlet dt.portletHeader {
    background-color: #7a7a7a;
    color: white
}

.programteachers {
   background-color: #d9d9d9;
}

.programteachers dl.portlet dt.portletHeader {
    background-color: #60797e;
    color: white
}

.programdistricts {
   background-color: #d9d9d9;
}

.programdistricts dl.portlet dt.portletHeader {
    background-color: #ae433b;
    color: white
}

.summer {
   background-color: #d9d9d9;
}

.summer dl.portlet dt.portletHeader {
    background-color: #ae433b;
    color: white
}

#portal-footer {
	border-top: none;
	background:transparent;
}

#doormat-container.columns-4 {
  background: #60797e;
}

#portaltab-index_html {
  background-color: #60797e;
}

#portal-globalnav {
     
	  z-index:100;
	  
}

.content {
  background-color: #e9e9e9;
}
.content.portlet-1 {
    background: none; 
}
/*Front Page Slideshow */
.slideshow-frontpage {
	margin-top: -50px;
}
.slideshow-frontpage dl dt {
	display:none; }
.slideshow-frontpage dl.portlet {
	background: none;
    float:right;	
}
.portletPics .imageCaption {
	font-family: 'Oswald', sans-serif;
    background: rgb(233, 233, 233,0.25);
    height: 35px;
    position: absolute;
    color: #000000;
    top: 2px;
	padding-top:10px;
    padding-left:15px;
	font-size:2em;
	

}
.section-front-page div#visual-portal-wrapper div#portal-top .panels .panel-0 .row .position-0 { width:35%;}
.portletStaticText.portlet-static-welcome-to-our-community {
    padding: 5px 10px 5px 10px;
	/*display:none; */
}
	
.section-front-page div#visual-portal-wrapper div#portal-top .panels .panel-0 .row .position-1\3a 2{
	margin-left: -65%;
	width:65%;
	margin-top: -70px;
	padding-left:5px;
}
.section-front-page div#visual-portal-wrapper div#portal-top .panels .panel-0 .row .position-1\3a 2 .portlet-1 div dl dt {
	display: none;
}
.section-front-page div#visual-portal-wrapper div#portal-top .panels .panel-0 .row .position-1\3a 2 .portlet-1 div dl.portlet{
	background: none;
	height:266px;
	overflow:hidden;
	
}
.section-front-page div#visual-portal-wrapper div#portal-top .panels .panel-0 .row .position-0 .portlet-0  .portletWrapper .portlet dd.portletItem	{
     padding: 0.1em 1em 1em 1em }
	

.slideshowPortlet .portletItem{
		margin: 0;
	    padding: 1em 1em 0em 1.5em;
}
/*.portletPics .imageCaption {
	margin-top: -250px;
	padding-left: 1em;
	font-size: 2em;
} */
.slideContainer {
	z-index:50 !important;
}
#content ul, .portletStaticText ul {
	list-style-type:none;
}
.section-front-page div#visual-portal-wrapper #portal-columns div#portal-column-content {
    background-color: transparent; }
	
.section-front-page div#visual-portal-wrapper #portal-columns #portal-column-content.position-1\3a 4 {
    /* margin-left: -100%;
    margin-top: -215px; */
	width: 63%;
	margin-left: -65%;
	padding-left: 20px;
	margin-top: -40px	;
}


.section-front-page div#visual-portal-wrapper #portal-columns #portal-column-content #content #content-core {
    padding-top:0;
}

.section-front-page div#visual-portal-wrapper #portal-columns #portal-column-content #content h1.documentFirstHeading {
	
    margin-top: -13px;
	margin-left: -13px;
	margin-right: -13px;
}
/*.section-front-page div#visual-portal-wrapper div#portal-top div#portal-breadcrumbs {
	display:none;
}
.section-front-page div#visual-portal-wrapper #portal-columns #portal-column-content.width-3\3a 4 {
    width: 35%%; }
	
/*.section-front-page div#visual-portal-wrapper #portal-columns #portal-column-content.width-3\3a 4 {
	    margin-left: -65%;
	} */
.section-front-page div#visual-portal-wrapper #portal-columns #portal-column-one {
	width: 35%;
	
}
.section-front-page div#visual-portal-wrapper #portal-columns #portal-column-two {
	width: 65%;

}
.section-front-page div#visual-portal-wrapper #portal-columns #portal-column-two {
	margin-left: -65%;
	margin-top: 120px;
}
.section-front-page div#visual-portal-wrapper #portal-columns #portal-column-two #portletmanager-plone-rightcolumn {
	padding-top: 120px;
	padding-left:20px;
	
	
}
.front-page .portletExpand {
	margin-left:20px;
}
/*size right portlets */
.front-page.right {
	margin-left:20px;
}

/* UCD Blue Portlet */
.ucd-blue dl dt.portletHeader {
	background-color: #002855;
	color:#fff;
}
.ucd-blue dl dt.portletHeader a{
	background-color: #002855;
	color:#fff;
    font-size: 0.8em;
	letter-spacing: 0.06em;
}
.ucd-blue dl dt.portletHeader a:hover {
    color: #cccccc !important; }

dd.portletItem {
	display:block;
}
/* portlet vertical-tab  and vertical-tab events */
.resp-tab-content.resp-tab-content-active img {
    max-width: 150px;
    max-height: 150px;
}
/* Portlet General */
dl.portlet {
	font-size:95%;
}
dl.portlet dt {
	background: transparent;
}

dl.portlet a:hover {
    color: #335379 !important;
}
.portletFooter{
	background-color: #a3b1b2;
	
}
.portletFooter a {
	font-weight:bold;
	text-decoration:none;
	color: #002855;
}

 .portlet a:visited, .portletFooter a:visited, a:visited {
	 color: #002855;
	
}
.portlet {
	padding-bottom: 0px;
}
dd {
	margin-left:0px;
}

/* dropdown portlet */
.portletExpand div dt.portletHeader {
    padding: 0px;
    width: 100%; }
	
.portletExpand div dt.portletHeader a {
	padding-left:10px; }

	.portletHeader.subHeader{
		font-size: .75em;
	}
	
	/*lead images */
#content img.tileImage, #content div.newsImageContainer {
	float:left;
}
	
img.tileImage {
border: none;
float: left;
margin: 0 0.5em 0.5em 0;
padding-right: 10px;
}

.newsImageContainer {
    float: left;
    margin: 0 1em 0.5em 0;
}
/*footer panel */
#portal-footer-line .panels .panel .row {
	background-color: #002855;
}
#portal-footer-line .panels .panel .row .cell .content {
	background-color:#002855;
	color: #fff;
}
#portal-footer-line .panels .panel .row .cell .content.portlet-0 {
    padding-left: 10px;
    padding-top: 10px;
}
#portal-footer-line .panels .panel .row .cell .content.portlet-1 {
	background-color:#002855;
	padding-top:10px;
	column-count:2;
}
#portal-footer-line .panels .panel .row .cell .content.portlet-1 dl.portlet ul.navTree .navTreeCurrentItem {
	background:transparent;
	border-left:none;
	margin-left:0;
	margin-right:0;
}
#portal-footer-line .panels .panel .row .cell .content.portlet-1 dl.portlet ul.navTreeLevel0 > .navTreeItem 
    {border-bottom:none;}
#portal-footer-line .panels .panel .row .cell .content.portlet-1 .portlet {
	background-color:#002855;
	
}
#portal-footer-line .panels .panel .row .cell .content.portlet-1 div .portlet .portletItem ul li a {
	color:#fff !important;
	border-bottom: none;
}
#portal-footer-line .panels .panel .row .cell .content.portlet-1 div .portlet .portletItem ul li.navTreeItem a:hover {
	background-color:none !important;
	color: #7F93AE !important;
}
	
#portal-footer-line .panels .panel .row .cell .content.portlet-2 {
	float:right;
	padding-top: 10px;
	padding-right: 10px;
}
/* Events */
.leadImage {
float: left;
padding-right: 20px }

.timezone {
	display:none;
}
.event p {
	padding-right:20px;
	
}
.event.summary {
	padding-left:2.3em;
	border-left: 2px solid #002855;
}
/* white break in collection list */
.portaltype-collection .documentActions {
	background-color:#e9e9e9;
}
/*hide leadImage on collection type */
/*.portaltype-collection .leadImage {
    display: none;
}*

h2.headline {
    padding-bottom: .7em;
}
/* plomino accordion edit */
.mceContentBody h3.plomino-accordion-header {
	background-color: #ECD47F;
}
.mceContentBody .plomino-accordion-content {
	background-color: #F8EECC;
}
/*plomino accordion display */
#content-core h3.plomino-accordion-header {
    background-color: #a3b1b2;
    cursor: pointer;
    margin: 1em 0;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 10px 10px 8px #888888;
}
#content-core h3.plomino-accordion-header a {
	text-decoration: none;
}
/* get the portlets off the front page content for edit */
.template-edit.section-front-page div#visual-portal-wrapper #portal-columns #portal-column-two {
    margin-top: 950px;
}
.button {
	    display: inline-block;
	    /* color: white; */
	    background-color: #dea427;
	    border: none;
	    text-align: center;
	    font-size: 1.5em;
	    padding: 10px 15px;
	    transition: all 0.5s;
	    margin: 5px;
		-webkit-border-radius: 10;
		  -moz-border-radius: 10;
		  border-radius: 10px;
		  -webkit-box-shadow: 6px 5px 24px #666666;
		  -moz-box-shadow: 6px 5px 24px #666666;
		  box-shadow: 6px 5px 24px #666666;
}
.button a {
	
color: white;
text-decoration: none !important;
	
}

article.tileItem {
    margin-bottom: 10px;
}
.portaltype-folder #visual-portal-wrapper #portal-columns #portal-column-content .leadImage {
	display:none;
}
#content .callout, .portletStaticText .callout {
    background: #fff;
    padding: 1em;
    border-left: 1em solid #5B7F95;
    clear: both;
    color: #002855; }
.minTopPad {
	padding: 0.2em 1em 1em 1em
	
}
/* fix FacultyStaffDirectoryList */
#content .facultyStaffDirectory ul.jobTitle {
	font-style:italic;
}
#content .facultyStaffDirectory ul.jobTitle li {
	background:none;
}
.classificationListing h2 {
    display: none;
}
ol.classificationList {
    display: none;
}
div#portal-column-content {
	background-color: #e9e9e9;
}
/* hide timezone in event portlet */
.portletEvents .portletItem .portletItemDetails span:first-of-type {
	display:none;
}
.state-published {
	color:#002855 !important;
}
@media screen and (min-width: 768px) {
	div#globalnav-wrapper {
	    width: 63%; 
		
	    margin-top: 10px;
	    float:right; }
	    
	}
	#portal-siteactions li a:hover {
	    color: #ECD47F;

/* fix mobile */
@media only screen and (max-width: 767px) {
	
	.section-front-page div#visual-portal-wrapper #portal-columns #portal-column-content.position-1\:4 {
		padding:1em;
	}
	.section-front-page div#visual-portal-wrapper div#portal-top .panels .panel-0 .row .position-0 {
		width:100%;
	}
	
	.section-front-page div#visual-portal-wrapper div#portal-top .panels .panel-0 .row .position-1\3a 2 {
		display:none;
	}
	.section-front-page div#visual-portal-wrapper #portal-columns #portal-column-content #content {
		margin-right: 4%;
	}
	#portal-top .panels {
	    padding-left: 1em;
	    padding-right: 1em;
	}
    #portal-globalnav li a{
           z-index:0;
          }
          #portal-globalnav .plus.open > a{
           background-color:#ECD47F;
          }
        /*	#globalnav-wrapper .globalnav-toggle {
  	    background-color: #002855; }
		
  	#globalnav-wrapper .globalnav-toggle .icon-bar {
  		background-color:#fff;
  	}
  	#portal-globalnav li.selected a {
  	    background-color: #ECD47F;
  	    color: #000;
  	}
  	#portal-globalnav:hover li:hover > a {
  		background-color: #ECD47F;
  		color:#000;
  	}*/
  	/*#portal-globalnav li a:hover {
  	    background-color: #ECD47F;
  	    color: #000;
	
  	}
  	#portal-globalnav li.open {
  		background-color: #ECD47F;
  		color:#000;
  	}
  	#portal-globalnav li > ul {
  		width: 100%;
  		border-radius: 0;
  		-webkit-border-radius:0;
  		-moz-border-radius:0;
  	}
  	#portal-globalnav ul li {
  		z-index:100;
  	}*/
	
	.portletStaticText img {
	    height: auto;
	    max-width: 20%; }
		
		.panels div.width-1\3a 3 {
		    /* width: 31.6667%; */
		    width: 100%;
		    text-align: center; }
	
   #portal-footer-line .panels .panel .row .cell .content.portlet-2 div .portletStaticText img {
	   max-width:100%;
	   margin:auto;
   }
   .section-front-page div#visual-portal-wrapper #portal-columns #portal-column-two {
	   margin-top: 0;
   }
   .front-page.right {
       margin-left: 0;
} /* end media */

